@font-face {
  font-family:"Open Sans";
  src:url(../assets/font/OpenSans-Regular.ttf);
}

@font-face {
  font-family:"Open Sans light";
  src:url(../assets/font/OpenSans-Light.ttf);
}

@font-face {
  font-family:"Roboto Medium";
  src:url(../assets/font/Roboto-Medium.ttf);
}

@font-face {
  font-family:"Roboto Bold";
  src:url(../assets/font/Roboto-Bold.ttf);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #170200;
}

#container {
  width: 100%;
}

main {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans light";
}

h2, h3, h4, h5, h6 {
  color: rgb(30, 14, 0);
}

h1 {
  font-size: 2.0rem;
  margin-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin: 2rem 0 2rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  margin: 0 0 1.8rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

figcaption {
  font-size: 0.8rem;
}

#main-img-sm {display:block;}
#main-img-lg {display:none}
#guests-img-sm {display:block;}
#guests-img-lg {display:none}
#attractions-img-sm {display:block;}
#attractions-img-lg {display:none}
#contact-img-sm {display:block;}
#contact-img-lg {display:none}
#members-img-sm {display:block;}
#members-img-lg {display:none}
#history-img-sm {display:block;}
#history-img-lg {display:none}

aside {
  /* height: 100vh; */
  background-color: #d08b2c;
  border-right: 1px solid rgb(30, 14, 0);
}

header {
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

header h1 {
  margin: 0 auto;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: "Roboto Medium";
  color: #e3e3e3;
}

header h2 {
  margin: 0 auto;
  letter-spacing: 1px;
}

img[alt="Logo"] {
  width: 25%;
}


a:focus, a:hover {
  outline: 1px solid black;
}

/* NAV */
nav ul {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

nav ul li {
  width: 40%;
  padding-bottom: 1rem;
  margin: 0 auto;
}

nav ul li:last-child {
  margin-bottom: 2rem;
}

nav a {
  font-family: "Roboto Bold";
  color: rgb(30, 14, 0);
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 1.25rem;
}

nav a:focus,
nav a:hover,
nav a:active {
  font-family: "Roboto Bold";
  color: rgb(60, 44, 30);
  letter-spacing: 0.1rem;
}

#activePage {
  font-family: "Roboto Bold";
  color: rgb(30, 14, 0);
  border-bottom: 4px solid rgb(30, 14, 0);
}

main {
  width: 100%;
}

#english-text,
#english-header {
  display: none;
}

#swedish-text,
#swedish-header {
  display: block;
}

button {
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-radius: 8px;
  font-size: 0.8rem;
  background-color: #d08b2c;
  color: rgb(30, 14, 0);;
  border: 1px solid rgb(30, 14, 0);;
}

button:hover {
  background-color: #c07b1c;
}

button:active {
  background-color: #c07b1c;
  width: 57px;
  height: 27px;
}

section {
  width: 80%;
  margin: 0 auto;
}

article {
  width: 100%;
  margin-bottom: 4rem;
}


article header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul {
  line-height: 1.5;
}

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 0.75rem;
  background-color: #d08b2c;
}

footer p {
  margin-bottom: 0rem;
}

p small {
  font-size: 0.75rem;
  margin: 0;
}

#table-members {
  margin: 0 auto 3rem auto;
}
#table-guests {
  margin: 0 auto;
}

#caption {
  font-size: 0.75rem;
  margin-top: 0.75rem;
  text-align: center;
}

#weather-forecast {
  display: flex;
}

#select-weather {
  text-align: center;
  margin: 2rem auto;
}

#show-weather-forecast {
  max-width: 90%;
  box-shadow: 2px 2px 10px grey;
  background-color: #f1f1f1;
  margin: 1rem auto 2rem auto;
  padding-top: 1.5rem;
}

#show-weather-forecast h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
#show-weather-forecast p {
  font-size: 1.1rem;
  margin: 0;
  padding: 0 0 0 1.5rem;
}

#show-weather-forecast span {
  font-weight: bold;
}

.attraction-list {
  list-style-type: none;
  padding: 0;
}

.attraction-list li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}

.news {
  margin: 0;
  width: 100%;
}

.news h4, h5 {
  display: inline-block;
  background-color: lightgrey;
  padding: 4px;
}

.news h4:first-child {
  margin-top: 2rem;
}

.news p {
  margin: 1rem auto;
}
.news p:last-child {
  margin-bottom: 3rem;
}

.history {
  font-style: italic;
  margin-top: 0.75rem;
}

#history-image-konrad {
  border: 1px dashed grey;
}

h4 span {
  font-weight: bold;
}

#name-explanation ul, #harbor-master {
  margin-top: 0.75rem;
  width: 100%;
  box-shadow: 2px 2px 10px grey;
  background-color: #f1f1f1;
}

#name-explanation ul, #harbor-master {
  list-style-type: none;
  padding: 0;
}

#name-explanation ul li, #harbor-master li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}

/* Formulärets stil */
input,
select,
textarea {
  border: 1px solid #006599;
  color: #000;
  font-size: 1.3rem;
  width: 90%;
}

input[type="submit"],
input[type="reset"] {
  background-color: #006599;
  color: #fff;
  border: none;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  display: block;
  /* width: 100%; */
}

  table {
    width: 100%;
    max-width: 600px;
  }

  td,
  th {
    border: 1px solid #006599;
    padding: 0.3rem;
  }

  th {
    background-color: #6aa6cc;
  }

  td {
    text-align: center;
  }

  tr:nth-of-type(even) {
    background-color: #f5fafc;
  }

/* TACK-sidan */
#thanks ul {
  margin-top: 0.75rem;
  width: 100%;
  box-shadow: 2px 2px 10px grey;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 0;
}

#thanks ul  li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}

#thanks ul  li span {
  font-weight: bold;
  margin-right: 1rem;
}


input:focus,
select:focus,
textarea:focus {
  /* outline: none; */
  background-color: #90c7e3;
}

@media (max-width: 400px) {
  #table-members {
    min-width: 100%;
  }
}

@media (min-width: 620px) and (max-width: 1020px) {
  #container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 70%;
  }

  article header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin: 0;
    padding: 0;
  }


  header {
    margin-top: 1rem;
  }

  main {
    margin: 0;
    padding: 0;
  }

  #main-section {
    width: 90%;
  }

  h1 {
    font-size: 2.4rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2.2rem;
    margin: 2rem 0 2rem;
  }

  h3 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin: 1.8rem 0 1.8rem 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin-bottom: 1rem;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 1.0rem;
    text-align: center;
  }

  article {
    width: 100%;
    margin-bottom: 4rem;
  }

  article img {
    text-align: center;
    display: block;
    margin: auto auto;
  }

  footer {
    margin-top: 0;
  }
}

@media (min-width: 830px) {
  #main-img-sm {display:none;}
  #main-img-lg {display:block}
  #guests-img-sm {display:none;}
  #guests-img-lg {display:block}
  #attractions-img-sm {display:none;}
  #attractions-img-lg {display:block}
  #contact-img-sm {display:none;}
  #contact-img-lg {display:block}
  #members-img-sm {display:none;}
  #members-img-lg {display:block}
  #history-img-sm {display:none;}
  #history-img-lg {display:block}

  #table-guests {
    width: 75%;
  }

  th {
    font-weight: bold;
  }
}

@media (max-width: 830px) {
  table {
    width: 100%;
    max-width: 600px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td,
  th {
    border: 1px solid #006599;
    padding: 7px;
  }

  th {
    background-color: #6aa6cc;
    border: 1px solid #006599;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.3rem;
  }

  td {
    text-align: center;
    font-size: 1.0rem;
  }

  tr {
    border: 1px solid #3399cc;
  }

  tr:nth-of-type(even) {
    background-color: #f5fafc;
  }

  #table-guests {
    width: 90%;
  }

  #table-members {
    width: 85%;
  }

  #table-guests td,
  #table-members td {
    position: relative;
    padding-left: 50%;
    text-align: right;
    border: 1px solid #006599;
    padding: 0.3rem;
  }

  #table-guests td:before,
  #table-members td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
  }

  #table-guests td:nth-of-type(1):before {
    content: "Beskrivning";
  }
  #table-guests td:nth-of-type(2):before {
    content: "Kostnad/dygn";
  }

  /* MEDLEMMAR-sidan */
  #table-members tr:nth-of-type(even) {
    background-color: #f5fafc;
  }

  #table-members td:nth-of-type(1):before {
    content: "Namn";
  }
  #table-members td:nth-of-type(2):before {
    content: "E-post";
  }
  #table-members td:nth-of-type(3):before {
    content: "Telefon";
  }

  #table-members img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1021px) {
  #container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 75%;
  }

  article header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  footer {
    clear: both;
  }

  nav a {
    letter-spacing: 1.5px;
    font-size: 1.4rem;
  }

  label {
    width: 8rem;
    float: left;
    text-align: right;
    margin-right: 0.6em;
    font-size: 1.2rem;
  }

  .buttons {
    display: flex;
    width: 75%;
  }

  input,
  select,
  textarea {
    width: 50%;
  }

  input[type="submit"],
  input[type="reset"] {
    margin-left: 2rem;
  }
  input[type="submit"] {
    margin-left: 8.5rem;
  }

  h1 {
    font-size: 2.6rem;
    margin-top: 2.2rem;
  }

  h2 {
    font-size: 2.4rem;
    margin: 2rem 0;
  }

  h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    padding-top: 1.8rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.7;
    margin: 1.8rem 0 1.8rem 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin-bottom: 1rem;
  }

  figcaption {
    margin-top: 0.7rem;
    font-size: 1.1rem;
    text-align: center;
  }

  article img {
    text-align: center;
    display: block;
    margin: auto auto;
  }

  th, td {
    padding: 7px;
  }

  th {
    font-weight: bold;
    font-size: 1.3rem;
  }

  td {
    font-size: 1.2rem;
  }
}
